.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    width: 100%;

}

.cover__link:after {
    content: "";
    background-color: rgba(42, 44, 47, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cover__link:hover:after {
    content: "";
    background-color: rgba(42, 44, 47, .8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}