.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 16px 48px 16px;
}

@media (min-width: 768px) {
    .header {
        margin: 28px 24px 48px 24px;
    }
}

@media (min-width:1280px) {
    .header {
        margin: 28px 48px 48px 56px;
    }

}