.link__value {
    display: block;
    width: 288px;
    min-height: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

@media (min-width:768px) {
    .link__value {
        grid-area: link;
        width: 352px;
        margin: 0;   
}
}

@media (min-width:1024px) {
    .link__value {
        width: 456px;
        margin: 0;
    }

}

@media (min-width:1280px) {
    .link__value {
        width: 456px;
        margin: 0;
    }
}