.footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
    list-style-type: none;
}
.footer__link:hover {
    color:gray;
    opacity: .5;
}

@media (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
}