.lead__title {
    max-width: 288px;
    margin: 0 auto 16px auto;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    text-align: center;
}

@media (min-width:768px) {
    .lead__title {
        max-width: 720px;
        margin: 0 auto 32px auto;
        font-size: 96px;
        line-height: 100px;
    }
}
