.footer__text {
    width: 186px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
}

@media (min-width: 768px) {
    .footer__text {
        display: inline;
        min-height: 16px;
        line-height: 16px;
    }
}

@media (min-width:1024px) {
    .footer__text {
        display: inline;
        min-height: 16px;
        line-height: 16px;
    }

}

@media (min-width:1280px) {
    .footer__text {
        display: inline;
        min-height: 16px;
        line-height: 16px;
        
    }

}