.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
}

@media (min-width: 768px) {
    .footer__text {
        min-height: 16px;
        line-height: 16px;
    }
}
