.footer__links {
    display: grid;
    row-gap: 32px;
    margin: 0;
    list-style-type: none;
    padding: 0;
}


@media (min-width: 768px) {
    .footer__links {
        grid-template-columns: repeat(5,auto);
        column-gap: 18px;
    }
}