.lead__image {
    max-width: 320px;
    height: 200px;
    background-image: url("../../../images/Image1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width:768px) {
    .lead__image {
        max-width: 768px;
        min-height: 480px;
    }
}

@media (min-width:1024px) {
    .lead__image {
        max-width: 928px;
        min-height: 580px;
        margin-right: auto;
        margin-left: auto;
    }

}

@media (min-width:1280px) {
    .lead__image {
        max-width: 984px;
        min-height: 615px;
    }

}