.intro__text {
    margin-top: 0;
    margin-bottom: 34px;
    max-width: 288px;
    font-size: 16px;
    line-height: 163%;
}

@media (min-width: 768px) {
    .intro__text {
        margin-bottom: 33px;
        max-width: 720px;
    }
}

@media (min-width:1024px) {
    .intro__text {
        max-width: 690px;
    }

}