.intro {
    max-width: 288px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    margin: 0 16px;
}

@media (min-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 0 24px;
    }
}

@media (min-width:1024px) {
    .intro {
        max-width: 690px;
        margin: 0 48px;
    }

}

@media (min-width:1280px) {
    .intro {
        max-width: 690px;
        margin: 0 148px;
    }

}