.cover {
    display:flex;
    flex-direction: column;
    min-height: 200px;
    gap: 16px;
    position: relative;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    background-color: #2A2C2F;
    z-index: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cover::before {
    content: "";
    position: absolute;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    z-index: -1;
}

.cover:hover:before
{opacity: 0.3;}

@media (min-width: 768px) {
    .cover {
        gap: 32px;
        min-height: 480px;
    }
}

@media (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media (min-width:1280px) {
    .cover {
        min-height: 740px;
        margin-right: 48px;
        margin-left: 48px;
    }
}