.lead__text {
    max-width: 288px;
    margin: 0 auto 40px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

@media (min-width:768px) {
    .lead__text {
        max-width: 640px;
        margin: 0 auto 56px auto;
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width:1280px) {
    .lead__text {
        margin: 0 auto 64px auto;
    }

}