.text {
    display: grid;
    row-gap: 25px;
    max-width: 288px;
    margin: 0 auto 0 auto;
}

@media (min-width:768px) {
    .text {
        max-width: 352px;
        row-gap: 27px;
        margin: 0;
    }
}

@media (min-width:1024px) {
    .text {
        max-width: 456px;
    }

}

@media (min-width:1280px) {
    .text {
        max-width: 484px;
}
}