.cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 16px;
    z-index: 1;
}

@media (min-width: 768px) {
    .cover__title {
        max-width: 560px;
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 32px;
    }
}