.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    margin: 64px 118px 24px 16px;
}

@media (min-width: 768px) {
    .footer {
        display: inline;
        width: 720px;
        flex-direction: row;
        align-content: baseline;
        margin: 88px 24px 24px 24px;
    }
}

@media (min-width:1024px) {
    .footer {
        display: inline;
        width: 928px;
        flex-direction: row;
        align-content: baseline;
        margin: 92px 48px 24px 48px;
    }

}

@media (min-width:1280px) {
    .footer {
        display: inline;
        width: 1184px;
        flex-direction: row;
        align-content: baseline;
        margin: 92px 48px 24px 48px;
    }

}