.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    margin: 64px 118px 24px 16px;
    row-gap: 48px;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        margin: 88px 24px 24px 24px;
    }
}

@media (min-width:1024px) {
    .footer {
        margin: 92px 48px 24px 48px;
    }

}