.place__link-value {
    display: block;
    max-width: 288px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link-value:hover {
    opacity: .5;
}

@media (min-width:768px) {
    .place__link-value {
        grid-area: link;
        max-width: 352px;
    }
}

@media (min-width:1024px) {
    .place__link-value {
        max-width: 456px;
    }

}