.places__cards {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin: 0;
    padding-left: 0;
}

@media (min-width:768px) {
    .places__cards {
        row-gap: 73px;
    }
}

@media (min-width:1024px) {
    .places__cards {
        row-gap: 80px;
    }
}