.gallery__position {
    margin: 64px auto 64px auto;
}

@media (min-width:768px) {
    .gallery__position {
        margin: 88px auto 88px auto;
    }
}

@media (min-width:1024px) {
    .gallery__position {
        margin: 92px auto 92px auto;
    }

}

@media (min-width:1280px) {
    .gallery__position {
        margin: 92px auto 92px auto;
    }

}